:root {
  --background: #232946;
  --headline: #fffffe;
  --paragraph: #b8c1ec;
  --button: #eebbc3;
  --button-text: #232946;
  --footer: #121629;
}

html {
  height: 100%;
}

body {
  background-color: var(--background);
  color: var(--paragraph);
  font-family: "Maven Pro", sans-serif;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}

h1,
h2,
h3 {
  color: var(--headline);
}

p {
  color: var(--paragraph);
}

a {
  color: inherit;
}

.html-css {
  display: block;
  min-height: 1.5em;
}

/* Animation of headline */
.html-css::after {
  content: "";
  animation: typewriter;
  animation-duration: 3s;
  animation-delay: 1.5s;
  animation-timing-function: ease-in-out;
  /* Prvents the animation for resetting after it's finished */
  animation-fill-mode: forward;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes typewriter {
  0% {
    content: "";
  }

  10% {
    content: "H";
  }

  20% {
    content: "HT";
  }

  30% {
    content: "HTM";
  }

  40% {
    content: "HTML";
  }

  50% {
    content: "HTML ";
  }

  60% {
    content: "HTML &";
  }

  70% {
    content: "HTML & ";
  }

  80% {
    content: "HTML & C";
  }

  90% {
    content: "HTML & CS";
  }

  100% {
    content: "HTML & CSS";
  }
}

/* Top navigation bar */
nav {
  margin: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav img {
  width: 23px;
}

nav a {
  padding: 8px;
  text-decoration: none;
  font-size: 15px;
  padding: 14px 16px;
}

nav a:hover {
  color: var(--headline);
}

/* buttons */

.link-button {
  font-family: monospace;
  display: inline-block;
  font-size: 12px;
  padding: 0.5em 0.7em;
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid;
  color: var(--button-text);
  background-color: var(--button);
  white-space: nowrap;
  text-decoration: none;
}

.les-mer {
  text-align: center;
  font-size: 15px;
  transition: transform 0.1s ease-out;
  float: right;
}

.link-button:hover {
  transform: scale(1.1);
  color: var(--headline);
}

/* Main */
main img {
  width: 150px;
  float: right;
  display: flex;
}

/* Main Section */

.main-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 600px;
}

.main-section div {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.main-section div a {
  margin-bottom: 120px;
  margin-left: -30px;
}

footer {
  background-color: var(--footer);
  color: var(--headline);
  padding: 20px;
  margin-top: 50px;
  text-align: right;
  font-size: 10px;
}

@media screen and (max-width: 450px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  nav li:last-child a {
    float: left;
  }
  nav li {
    padding: 2px;
  }
}
