body {
  background-color: black;
  color: #fff;
  min-height: 100vh;
  display: grid;
  place-items: center;
  perspective: 500px;
  perspective-origin: 50% calc(50% - 200px);
}

.banner {
  display: flex;
  transform-style: preserve-3d;
  animation: rotate 24s infinite linear;
  font-size: 96px;
}

@keyframes rotate {
  to {
    transform: rotateY(-360deg);
  }
}

.panel {
  --width: 50px;
  position: absolute;
  transform: translate(-50%, -50%) rotateY(var(--angle)) translateZ(190px);
  width: var(--width);
  height: 100px;
  overflow: hidden;
  /* background-color: #fff4; */
}

.panel::before {
  position: absolute;
  left: var(--left);
  content: "Hello World, it's a nice day!";
  font-family: sans-serif;
  width: max-content;
  color: hsl(var(--hue), 75%, 75%);
}

.panel:nth-child(1) {
  --left: calc(var(--width) * 0 * -1);
  --hue: 0;
  --angle: 0deg;
}

.panel:nth-child(2) {
  --left: calc(var(--width) * 1 * -1);
  --angle: calc(var() * 1 * -1);
  --hue: 15;
  --angle: 15deg;
}

.panel:nth-child(3) {
  --left: calc(var(--width) * 2 * -1);
  --hue: 30;
  --angle: 30deg;
}

.panel:nth-child(4) {
  --left: calc(var(--width) * 3 * -1);
  --hue: 45;
  --angle: 45deg;
}

.panel:nth-child(5) {
  --left: calc(var(--width) * 4 * -1);
  --hue: 60;
  --angle: 60deg;
}
.panel:nth-child(6) {
  --left: calc(var(--width) * (6 - 1) * -1);
  --hue: 75;
  --angle: 75deg;
}

.panel:nth-child(7) {
  --left: calc(var(--width) * (7 - 1) * -1);
  --hue: 90;
  --angle: 90deg;
}

.panel:nth-child(8) {
  --left: calc(var(--width) * (8 - 1) * -1);
  --hue: 105;
  --angle: 105deg;
}

.panel:nth-child(9) {
  --left: calc(var(--width) * (9 - 1) * -1);
  --hue: 120;
  --angle: 120deg;
}

.panel:nth-child(10) {
  --left: calc(var(--width) * (10 - 1) * -1);
  --hue: 135;
  --angle: 135deg;
}
.panel:nth-child(11) {
  --left: calc(var(--width) * (11 - 1) * -1);
  --hue: 150;
  --angle: 150deg;
}

.panel:nth-child(12) {
  --left: calc(var(--width) * (12 - 1) * -1);
  --hue: 165;
  --angle: 165deg;
}

.panel:nth-child(13) {
  --left: calc(var(--width) * (13 - 1) * -1);
  --hue: 180;
  --angle: 180deg;
}

.panel:nth-child(14) {
  --left: calc(var(--width) * (14 - 1) * -1);
  --hue: 195;
  --angle: 195deg;
}

.panel:nth-child(15) {
  --left: calc(var(--width) * (15 - 1) * -1);
  --hue: 210;
  --angle: 210deg;
}
.panel:nth-child(16) {
  --left: calc(var(--width) * (16 - 1) * -1);
  --hue: 225;
  --angle: 225deg;
}

.panel:nth-child(17) {
  --left: calc(var(--width) * (17 - 1) * -1);
  --hue: 240;
  --angle: 240deg;
}

.panel:nth-child(18) {
  --left: calc(var(--width) * (18 - 1) * -1);
  --hue: 255;
  --angle: 255deg;
}

.panel:nth-child(19) {
  --left: calc(var(--width) * (19 - 1) * -1);
  --hue: 270;
  --angle: 270deg;
}

.panel:nth-child(20) {
  --left: calc(var(--width) * (20 - 1) * -1);
  --hue: 285;
  --angle: 285deg;
}
.panel:nth-child(21) {
  --left: calc(var(--width) * (21 - 1) * -1);
  --hue: 300;
  --angle: 300deg;
}

.panel:nth-child(22) {
  --left: calc(var(--width) * (22 - 1) * -1);
  --hue: 315;
  --angle: 315deg;
}

.panel:nth-child(23) {
  --left: calc(var(--width) * (23 - 1) * -1);
  --hue: 330;
  --angle: 330deg;
}

.panel:nth-child(24) {
  --left: calc(var(--width) * (24 - 1) * -1);
  --hue: 345;
  --angle: 345deg;
}

.panel:nth-child(25) {
  --left: calc(var(--width) * (25 - 1) * -1);
  --hue: 360;
  --angle: 360deg;
}
