:root {
  --background: #fef6e4;
  --headline: #001858;
  --paragraph: #172c66;
  --button: #f582ae;
  --button-text: #001858;
  --footer: #f582ae;
  --button-hoover: #8bd3dd;
  --font: "Maven Pro", sans-serif;
  font-size: 18px;
}

html {
  height: 100%;
}

body {
  background-color: var(--background);
  color: var(--paragraph);
  font-family: "Maven Pro", sans-serif;
  text-align: center;
  margin: 0;
}

img {
  width: 400px;
  margin: 0 auto;
  display: block;
  max-width: 100%;
}

/* Top navigation bar */
nav {
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav img {
  width: 23px;
}

nav a {
  padding: 8px;
  text-decoration: none;
  color: var(--button);
  padding: 14px 16px;
}

nav a:hover {
  color: var(--button-hoover);
  text-decoration: underline;
}

/* Color for all paragraphs */
p {
  color: var(--paragraph);
}

/* Color for all headlines ranging from h1-h3 */
h1,
h2,
h3 {
  color: var(--headline);
}

/* When the screen is 450px or less this query will take action */
@media screen and (max-width: 450px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  nav li:last-child a {
    float: left;
  }
  nav li {
    padding: 2px;
  }
}
